<h1>Hola! Por favor confirma tu Email!</h1>

<p>
    Por favor confirma tu email haciendo click en el siguiente link: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmar mi Email</a>.
    Este enlace expirará en {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Gracias!
</p>
