
<form method="post" action="{{ path('app_user_delete', {'id': app.user.id}) }}" onsubmit="return confirm('¿Estás seguro de que deseas eliminar el usuario {{ user.nombre }}?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn">Eliminar Usuario</button>
</form>
